.list-group {
    box-sizing: content-box;
}

main {
    text-align: center;
    position: relative;
}

html, body, header {
    height:100%;
}

html, body,header,h1 {
    margin: 0;
    padding: 0;
}

#back2Top {
    width: 2vw;
    line-height: 2.5vw;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    color: #555;
    text-align: center;
    font-size: 2vw;
    text-decoration: none;
}
#back2Top:hover {
    color: #000;
}