<div class="mt-4"></div>

<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>

<div class="list-group">
<div *ngFor="let item of balades;let i = index;" class="list-group-item row mb-4">
<div class="card">
  <div class="card-body">
    <div class="card-title">
        <div class="w-100" style="float:left">
          <div><p>Intitulé de la balade :</p></div>
          <input type="text"
                 [(ngModel)]="balades[i].NOM_BALADE"
                 class="form-control"
                 required
                 #NOM_BALADE="ngModel"
                 [ngClass]="{ 'is-invalid': NOM_BALADE.touched && NOM_BALADE.invalid }">
        </div>
      </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="w-100" style="float:left">
        <div><p>Date de départ :</p></div>
        <input type="text"
               [(ngModel)]="balades[i].DATE_DEPART"
               class="form-control"
               required
               #DATE_DEPART="ngModel"
               [ngClass]="{ 'is-invalid': DATE_DEPART.touched && DATE_DEPART.invalid }">
      </div>
    </li>
    <li class="list-group-item">
      <div class="w-100" style="float:left">
        <div><p>Lieu de RDV :</p></div>
        <input type="text"
               [(ngModel)]="balades[i].LIEU_RDV"
               class="form-control"
               required
               #LIEU_RDV="ngModel"
               [ngClass]="{ 'is-invalid': LIEU_RDV.touched && LIEU_RDV.invalid }">
      </div>
    </li>
  </ul>
</div>
</div>


<div id="theList">
</div>
