<div class="container">
  <div class="mt-4"></div>

  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div *ngIf="success" class="alert alert-success">{{success}}</div>

  <div class="list-group">
  <div *ngFor="let item of balades;let i = index;" class="list-group-item row mt-4">
  <div class="card border-dark" data-aos="fade-up">
    <div class="card-header">
      <div class="w-100" style="float:left">
          <p> {{ balades[i].NOM_BALADE }} </p>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="w-100" style="float:left">
          <div><p>Date de départ : {{ balades[i].DATE_DEPART }} </p></div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="w-100" style="float:left">
          <div><p>Lieu de RDV : {{ balades[i].LIEU_RDV }} </p></div>
        </div>
      </li>
    </ul>
  </div>
  </div>


  <div id="theList">
  </div>
</div>