<div class="container mt-4" data-aos="fade-right">
  <div id="theForm">
    <h2>The form</h2>
    <form #f="ngForm" name="theForm" (submit)="addBalade(f)">
      <div class="form-group">
        <label>Intitulé de la balade</label>
        <input type="text"
              class="form-control"
              name="NOM_BALADE"
              [(ngModel)]="balade.NOM_BALADE"
              #baladeNOM_BALADE="ngModel"
              required>
        <span class="help-block danger" *ngIf="baladeNOM_BALADE.errors?.required && baladeNOM_BALADE.touched">
          L'intitulé de la balade est demandé.
        </span>
        <span class="help-block danger" *ngIf="baladeNOM_BALADE.errors?.pattern && baladeNOM_BALADE.touched">
          Balade name can only contain the letters a-z or A-Z.
        </span>
      </div>

      <div class="form-group">
        <label>Date de départ</label>
        <input type="text"
              class="form-control"
              name="DATE_DEPART"
              [(ngModel)]="balade.DATE_DEPART"
              #baladeDATE_DEPART="ngModel"
              required
              pattern="\d{2}/\d{2}/\d{4}">
        <span class="help-block danger" *ngIf="baladeDATE_DEPART.errors?.required && baladeDATE_DEPART.touched">
          La DATE de DEPART est demandée au format 00/00/0000.
        </span>
        <span class="help-block danger" *ngIf="baladeDATE_DEPART.errors?.pattern && baladeDATE_DEPART.touched">
          La DATE de DEPART est demandée au format 00/00/0000.
        </span>
      </div>

      <div class="form-group">
        <label>Lieu de RDV</label>
        <input type="text"
              class="form-control"
              name="LIEU_RDV"
              [(ngModel)]="balade.LIEU_RDV"
              #baladeLIEU_RDV="ngModel"
              required>
        <span class="help-block danger" *ngIf="baladeLIEU_RDV.errors?.required && baladeLIEU_RDV.touched">
          Lieu de RDV est demandé.
        </span>
        <span class="help-block danger" *ngIf="baladeLIEU_RDV.errors?.pattern && baladeLIEU_RDV.touched">
          Lieu de RDV can only contain the letters a-z or A-Z.
        </span>
      </div>

      <button
          class="btn btn-primary btn-sm"
          [disabled]="f.invalid">Add</button>
    </form>
  </div>
</div>