<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Motard d'alsace<img class="pl-2 pr-2" src="assets/icone-gsxr.jpg" alt="icone de motar d'alsace"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">ACCUEIL <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          BALADES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/add-balade">Créer une balade</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/balade68">BALADE 68</a>
          <a class="dropdown-item" routerLink="/balade67">BALADE 67</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">EVENEMENT</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>